<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{name}} - Profile Page</title>
</head>

<body>

  <nav>
    <a href="/">Home</a>
  </nav>

  <section>
  
    <h1>Profile</h1>

    <section>
        <img src="https://api.adorable.io/avatars/285/{{name}}.png" alt="{{name}}'s profile picture">
        <p>profile name: {{name}}</p>
        <p>ProfileId: {{profileUserId}}</p>
    </section>

    <section>
      <h3>Profile details:</h3>
      <ul>
        <li>Website: <a href="{{webSiteUrl}}">{{webSiteUrl}}</a></li>
        <li>Age: {{age}}</li>
        <li>location: {{location}}</li>
      </ul>
    </section>
  
  </section>

  <footer>
    <p>&copy; 2018 The Example company</p>
  </footer>

</body>

</html>